#default_caching
  ( Default Caching:
  %em= Page.default_caching
  )
- content_for :page_css do
  :sass
    #default_caching
      font-size: 12px
      color: darkgreen
      float: left
      margin-top: -40px
      margin-left: 440px
